


@keyframes spin {
    0% {
        transform: translateY(-1700%);
    }
    100% {
        transform: translateY(0%);
    }
}

.slot-viewport > div[data-animate="true"] {
    animation: spin 2s ease-in-out forwards;
}

.slot-viewport {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    box-sizing: border-box;
    height: 100%;
    border: 32px solid #ffab40;
    border-left-color: #ff9100;
    border-right-color: #ff9100;
    margin-right: 16px;
    
}

.slot-viewport::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: linear-gradient(164deg, rgba(210,210,210, 0.2) 45%, rgba(200,200,200, 0.1) 55%);
}


.slot-viewport:last-of-type {
    margin-right: 0px;
}


.slot-spinner {
    position: relative;
    transform: translateY(-100%);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.slot-spinner-animate .slot-random {
    filter: blur(8px)
}

.slot-spinner::-webkit-scrollbar, ::-webkit-scrollbar-thumb {
    width: 0px;
}

.slot{
    box-shadow: inset 0px 0px 50px black;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    background: #38423B;
}

.slot:nth-child(2n + 2){
    background: #353831;
}

.slot > span {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-family: 'Orelega One', cursive;
    color: white;
    text-shadow: 1px 1px 0 black, 
                2px 2px 0 black,
                3px 3px 0 black,
                4px 4px 0 black;
}

@media (max-width: 1440px) {
    .slot > span  {
        font-size: 3rem;
    }
}

@media (max-width: 1024px) {
    .slot-viewport {
        border-width: 4px;
    }
}