
@keyframes spin {
    from { 
        transform: rotateX(0deg); 
    }
    to { 
        transform: rotateX(-720deg); 
    }
}

@keyframes spin-reverse {
    from { 
        transform: rotateX(0deg); 
    }
    to { 
        transform: rotateX(720deg); 
    }
}

.slot {
    width: 90px;
    height: 80px;
    position: absolute;
    box-sizing: border-box;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    white-space: normal;
    word-break: break-all;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    font-family: 'Neonderthaw', cursive;
    color: #fff;
    border-radius: 10%;
    border-bottom: 2px solid #1616167e;
    background: linear-gradient(#1616167e 0%, transparent 100%);
}

.slot-ring {
    margin: 0 auto;
    height: 80px;
    width: 90px;
    transform-style: preserve-3d;
}

.slot-ring[data-spin="0"] {
    animation: spin 2s forwards;
}

.slot-ring[data-spin="1"] {
    animation: spin-reverse 2s forwards;
}

.slot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 16px;
    margin-bottom: 110px;
}

.slot-name {
    font-family: 'Neonderthaw', cursive;
    color: #fff;
    font-size: 24px;
}

.slot-ring-container {
    margin-top: 150px;
    perspective: 1000px;
}

.slot-ring-container > div:first-child {
    transform-style: preserve-3d;
}